html {
  scroll-behavior: smooth;
}


.banner-shape.pull-up {
  margin-top: -100px;
  position: relative;
  z-index: 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}
.banner-shape .bg {
  position: relative;
  left: 0;
  top: 0;
  width: 70%;
  height: 190%;
  border-radius: 200px 0 200px 0;
  /* transform: skew(-25deg); */
  background: #0050b3;
  background: linear-gradient(
    360deg,
    rgba(0, 80, 179, 1) 35%,
    rgba(0, 149, 199, 1) 100%
  );
  
}

.banner-shape > .row {
  padding: 60px 0;
  
}
/* .miniBox{
  border-right: 1px solid rgb(255, 255, 255);
} */
@media (max-width: 1324px) {
  .banner-shape .bg {
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    transform: none;
  }
}
